.oneRecord{
    text-align: center;
    display: flex;
    width: 700px;
    margin: 0 auto;
}
.oneRecord input{
    width: 80%;
    height: 25px;
}
.oneRecord p{
    width: 10%;
    font-size: 30px;
    margin: 0;
    cursor: pointer;
}